/* ==========================================================================
Styles for Error404 component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/helper/function", "../../../assets/styles/helper/mixin", "../../../assets/styles/project/init/variables";

// Start styles Error404 component
.p-error404 {
  img {
    width: 240px;
    @include small {
      width: 200px;
    }
    @include iphone5 {
      width: 176px;
    }
  }
}